@font-face {
  font-family: "SpaceMono";
  src: url(../../assets/Fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: "Syne";
  src: url(../../assets/Fonts/Syne-SemiBold.ttf);
}

.card {
  background-color: #f6f7fc;
  height: calc(100% - 60px);
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  transition: box-shadow 0.3s ease;
  padding: 30px;
  font-family: Syne;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  -moz-box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.cardTitleDiv {
  height: 35%;
}

.cardDescriptionDiv {
  height: 50%;
}

.cardButtonsDiv {
  height: calc(10% + 10px);
  padding: 10px 0;
}

.cardCategoriesDiv {
  height: 20%;
  border-top: 2px solid #edeff4;
  padding-top: 10px;
}

.card h1 {
  font-family: SpaceMono;
  font-size: 120%;
  color: #5b3ff4;
  cursor: pointer;
}

.cardDescriptionDiv .descriptionP {
  cursor: pointer;
  font-size: 16px;
}

.cardDescriptionDiv .seeMoreP {
  font-size: 12px;
  color: #b2b3ba;
}

.buttons {
  display: flex;
  cursor: pointer;
}

.buttons a {
  text-decoration: none;
  color: #0a1128;
}

.button {
  display: flex;
  align-items: center;
  padding: 5px 18px;
  border-radius: 100px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.primary {
  border: 1px solid #5b3ff4;
  background-color: #5b3ff4;
  color: #f6f7fc;
  transition: all 0.3s ease;
}

.primary:hover {
  background-color: #0a1128;
  border: 1px solid #0a1128;
}

.secondary {
  border: 1px solid #0a1128;
  transition: all 0.3s ease;
}

.secondary:hover {
  background-color: #0a1128;
  color: #f6f7fc;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  padding: 5px 15px;
  font-size: 12px;
  color: #b2b3ba;
  cursor: pointer;
}

/* Coming soon elements */

.comingSoonTitle {
  color: #0a1128;
  font-family: Syne;
  font-size: 14px;
}

.comingSoonDescription {
  width: 100%;
  height: 25px;
  background-color: #edeff4;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.comingSoonSeeMore {
  width: 150px;
  height: 15px;
  background-color: #edeff4;
  border-radius: 5px;
}

.comingSoonButtons {
  display: flex;
}

.comingSoonButton {
  width: 100px;
  height: 30px;
  background-color: #edeff4;
  margin-right: 10px;
  border-radius: 100px;
}

.comingSoonCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comingSoonCategory {
  width: 60px;
  height: 20px;
  background-color: #edeff4;
  margin-right: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .cardDescriptionDiv .seeMoreP {
    font-size: 60%;
  }
}
