@font-face {
  font-family: "SpaceMono";
  src: url(../../assets/Fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: "Syne";
  src: url(../../assets/Fonts/Syne-SemiBold.ttf);
}

.contactContainer {
  height: calc(100vh - 120px);
  padding: 60px 0 60px 50px;
  width: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactTop {
  width: 45%;
  text-align: center;
}

.contactTop h1 {
  font-family: SpaceMono;
  font-size: 200%;
}

.contactTop p {
  font-family: Syne;
  font-size: 18px;
}

.lastP {
  margin-bottom: 50px;
  color: #5b3ff4;
}

.contactContainer form {
  position: relative;
  font-family: Syne;
  background-color: #f6f7fc;
  padding: 30px;
  width: 35%;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.formTitle {
  font-size: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.envelopeImg {
  width: 50px;
  margin-bottom: 15px;
}

.contactContainer form input {
  width: calc(100% - 40px);
  height: 30px;
  border: 1px solid #edeff4;
  border-radius: 100px;
  font-size: 15px;
  font-family: Syne;
  padding: 6px 20px;
  margin-bottom: 6px;
  transition: border 0.3s ease;
}

.contactContainer form textarea {
  width: calc(100% - 40px);
  height: 100px;
  border: 1px solid #edeff4;
  border-radius: 10px;
  font-size: 15px;
  font-family: Syne;
  padding: 10px 20px;
  margin-bottom: 5px;
  resize: none;
  transition: border 0.3s ease;
}

.contactContainer form textarea:focus,
.contactContainer form input:focus,
.contactContainer form textarea:hover,
.contactContainer form input:hover {
  outline: none;
  border: 1px solid #0a1128;
}

::placeholder {
  color: #b2b3ba;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b2b3ba;
}

::-ms-input-placeholder {
  color: #b2b3ba;
}

.contactContainer form button {
  background-color: #f6f7fc;
  border: 1px solid #0a1128;
  color: #0a1128;
  height: 30px;
  padding: 0 20px;
  border-radius: 100px;
  cursor: pointer;
  font-family: Syne;
  transition: all 0.3s ease;
  font-size: 16px;
}

.contactContainer form button:hover {
  background-color: #0a1128;
  color: #f6f7fc;
}

:root {
  --toastify-color-success: #5b3ff4;
  --toastify-font-family: Syne;
  --toastify-color-light: #f6f7fc;
}

.toast {
  width: 40vh;
  font-size: 14px;
  right: 60px;
  top: 80px;
}

.toastBody {
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.loadingSpinner {
  border: 3px solid #edeff4;
  border-top: 3px solid #5b3ff4;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
  margin: 4px auto 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .contactContainer {
    padding: 60px 0 20px 0;
    height: calc(100vh - 80px);
    width: 100%;
  }

  .contactTop {
    width: 90%;
  }

  .lastP {
    margin-bottom: 30px;
  }

  .contactContainer form {
    padding: 30px;
    width: calc(90% - 60px);
  }

  .formTitle {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .envelopeImg {
    width: 40px;
    margin-bottom: 15px;
  }

  .contactContainer form input {
    font-size: 14px;
    height: 25px;
  }

  .contactContainer form textarea {
    width: calc(100% - 40px);
    height: 70px;
    font-size: 14px;
  }

  .toast {
    width: 80vw;
    left: calc(95% - 80vw);
  }
}

@media screen and (min-height: 740px) and (max-height: 950px) {
  .lastP {
    margin-bottom: 15%;
  }
}
