@font-face {
  font-family: "SpaceMono";
  src: url(../../../public/Fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: "Syne";
  src: url(../../../public/Fonts/Syne-SemiBold.ttf);
}

.contactContainer {
  height: calc(100vh - 120px);
  padding: 60px 0 60px 50px;
  width: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactLeft {
  width: 45%;
  text-align: center;
}

.contactLeft h1 {
  font-family: SpaceMono;
  font-size: 200%;
}

.contactLeft p {
  font-family: Syne;
  font-size: 18px;
}

.lastP {
  margin-bottom: 50px;
  color: #5b3ff4;
}

.contactContainer form {
  position: relative;
  font-family: Syne;
  background-color: #f6f7fc;
  padding: 30px;
  width: 35%;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.formTitle {
  font-size: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.envelopeImg {
  width: 50px;
  margin-bottom: 15px;
}

.contactContainer form input {
  width: calc(100% - 40px);
  height: 30px;
  border: 1px solid #edeff4;
  border-radius: 100px;
  font-size: 15px;
  font-family: Syne;
  padding: 6px 20px;
  margin-bottom: 6px;
  transition: border 0.3s ease;
}

.contactContainer form textarea {
  width: calc(100% - 40px);
  height: 100px;
  border: 1px solid #edeff4;
  border-radius: 10px;
  font-size: 15px;
  font-family: Syne;
  padding: 10px 20px;
  margin-bottom: 5px;
  resize: none;
  transition: border 0.3s ease;
}

.contactContainer form textarea:focus,
.contactContainer form input:focus,
.contactContainer form textarea:hover,
.contactContainer form input:hover {
  outline: none;
  border: 1px solid #0a1128;
}

::placeholder {
  color: #b2b3ba;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b2b3ba;
}

::-ms-input-placeholder {
  color: #b2b3ba;
}

.contactContainer form button {
  background-color: #f6f7fc;
  border: 1px solid #0a1128;
  height: 30px;
  padding: 0 20px;
  border-radius: 100px;
  cursor: pointer;
  font-family: Syne;
  transition: all 0.3s ease;
  font-size: 16px;
}

.contactContainer form button:hover {
  background-color: #0a1128;
  color: #f6f7fc;
}
