@font-face {
  font-family: "Syne";
  src: url(../../../public/Fonts/Syne-SemiBold.ttf);
}

.navbar {
  font-family: Syne;
  position: fixed;
  width: calc(100% - 100px);
  height: 60px;
  display: flex;
  padding: 0 50px 0 50px;
  z-index: 10;
  backdrop-filter: blur(55px);
  border-bottom: 1px solid #edeff4;
}

.logoDiv {
  display: flex;
  align-items: center;
  flex: 2;
}

.logo {
  font-weight: bold;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.logoImg {
  height: 55%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logoImg:hover {
  transform: translateY(-2px);
}

.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.link {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: translateY(-2px);
}

.cvDiv {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.3s ease;
}

.downloadCvButton {
  border: 1px solid #0a1128;
  border-radius: 100px;
  height: 30px;
  padding: 0 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.downloadCvButton:hover {
  background-color: #0a1128;
  color: #f6f7fc;
}
