.carouselWrapper {
  width: 100%;
}

.carouselSwiper {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: calc(100% - 150px) !important;
  padding: 30px 75px !important;
}

.swiperSlide {
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
}

.leftArrowBehind {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #edeff4;
  z-index: 1;
}

.rightArrowBehind {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: #edeff4;
  z-index: 1;
}

.swiperLeftArrow,
.swiperRightArrow {
  position: absolute;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s ease;
  border: 1px solid #0a1128;
  border-radius: 50%;
  background-size: 15px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.swiperLeftArrow {
  left: 5px;
}

.swiperRightArrow {
  right: 5px;
}

:global(.swiper-pagination) {
  bottom: 0 !important;
}

:global(.swiper-pagination-bullet-active) {
  background-color: #5b3ff4 !important;
}

@media screen and (max-width: 768px) {
  .carouselSwiper {
    width: 90% !important;
    padding: 30px 5% !important;
  }
}
