@font-face {
  font-family: "SpaceMono";
  src: url(../../assets/Fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: "Syne";
  src: url(../../assets/Fonts/Syne-SemiBold.ttf);
}

.workContainer {
  height: calc(100vh - 60px);
  padding-top: 60px;
}

.workWrapper {
  margin: 0 auto;
  padding-right: 50px;
  width: calc(100% - 150px);
  height: calc(100% - 31px);
  border-bottom: 1px solid #0a1128;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.workTitle {
  font-family: SpaceMono;
  font-size: 200%;
  text-align: center;
}

.workSubtitle {
  font-family: Syne;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .workWrapper {
    padding-right: 0;
    width: 90%;
    height: calc(100% - 30px);
  }

  .workSubtitle {
    font-family: Syne;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media screen and (min-height: 740px) and (max-height: 900px) {
  .workSubtitle {
    margin-bottom: 10%;
  }
}
